h1{
    text-align: center;
}

.password{
    margin-top: 10px;
    margin-bottom: 10px;
}

.boutton{
    margin-bottom: 10px;
    background-color: green;
    color: white;
    border: none;
    text-align: center;
    padding: 7px;
    border-radius: 10px;
    
}

.boutton:hover{
    background-color: darkgreen;
    cursor: pointer;
    scale: 1.05;
    transition: ease-in-out 0.3s;
}

.datelocal{
    margin-top: 10px;
    margin-bottom: 10px;
}

.time{
}

.date{
    margin-top: 10px;
    margin-bottom: 10px;
}